.MostOrder {
    width: 330px;
    background: #1F1D2B;
    border-radius: 8px;
    padding: 35px 25px 35px 25px;
    height: 400px;
    margin-bottom: 65px;

    .most-order-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        background: #1F1D2B;
        border-bottom: 1px solid #393C49;
        margin-bottom: 20px;

        h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;
            color: #FFFFFF;
        }
        select {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
            color: #FFFFFF;
            background: #1F1D2B;
            border: 1px solid #393C49;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 13px 15px;
        }
    }

    .most-order-bottom {
        .order-item {
            display: flex;
            align-items: center;
            margin-bottom: 25px;

            img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                margin-right: 15px;
            }
            p {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 130%;
                color: #E0E6E9;
                margin-bottom: 5px;
            }
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 140%;
                color: #ABBBC2;
            }
            
        }
        button {
            width: 100%;
            margin-top: 25px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            color: #EA7C69;
            border: 1px solid #EA7C69;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 15px 0;
            background-color: transparent;
            outline: none;
            cursor: pointer;
        }
    }
}