.HomePageItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-x: hidden;
    height: 585px;
    padding-top: 50px;
}

.home-page-item {
    background: #1F1D2B;
    border-radius: 16px;
    margin-bottom: 80px;
    text-align: center;
    padding: 120px 25px 40px 25px;
    position: relative;
    width: 190px;
    height: 105px;
    transition: all ease 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: 10px 5px 7px 0px #131212;
    }
    &.last-item {
        margin-bottom: 0;
    }

    img {
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
    }

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #FFFFFF;
        display: block;
    }
    .food-title {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #ABBBC2;
        margin-top: 10px;
    }
}